<div class="wholebox">
    <div class="smallerbox">
        <h1>{{event.title}}</h1>
        <h3>Date: {{event.date}}</h3>
        <p>With? {{event.with}}</p>
        <p>Address: {{event.address}}</p>
        <p>Tidbits: {{event.miscellaneous}}</p>
        <p>Ready? {{event.ready}}</p>
    </div>
    <a href="{{event._id}}/edit">Edit Event</a>
</div>