<h1>edit {{people.title}}</h1>

<form action="/users/{{userId}}/people/{{personId}}?_method=PUT" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" value={{person.name}}>
    </div>
    <div>
        <label for="age">Age</label>
        <input type="number" name="age" value={{person.age}}>
    </div>
    <div>
        <label for="relationship">Relationship</label>
        <input type="text" name="relationship" value={{person.relationship}}>
    </div>
    <div>
        <label for="address">Address</label>
        <input type="text" name="address" value={{person.address}}>
    </div>
    <div>
        <label for="importantDates">important dates</label>
        <textarea type="text" name="importantDates" value={{person.importantDates}}></textarea>
    </div>
    <div>
        <label for="miscellaneous">misc</label>
        <textarea type="text" name="miscellaneous" value={{person.miscellaneous}}></textarea>
    </div>
    <div>
        <label for="favoriteThings">Favorite Things</label>
        <textarea type="text" name="favoriteThings" value={{person.favoriteThings}}></textarea>
    </div>
    <button type="submit">save</button>
</form>