<ul>
    {{#each people}}
    <li>
        <iv class="person">
            <span class="personInfo">
                <p>Name: {{name}}</p>
                <p>Age: {{age}}</p>
                <p>Relationship: {{relationship}}</p>
            </span>
            <a href="/users/{{../user._id}}/people/{{id}}">Full Bio</a>
            <p>
                <form method="POST" action="/people/{{id}}?_method=DELETE">
                    <button type="submit">delete this person</button>
                </form>
            </p>
            </div>
    </li>
    {{/each}}
    <p>
        <a href="/users/{{user._id}}/people/new">add a person</a>
    </p>
</ul>