<div class="wholebox">
    <h1>{{person.name}}</h1>
    <div class="smallerbox">
        <p>Age: {{person.age}}</p>
        <p>Relationship: {{person.relationship}}</p>
        <p>Address: {{person.address}}</p>
        <p>Important Dates: {{person.importantDates}}</p>
        <p>Favorite Things: {{person.favoriteThings}}</p>
        <p>Tidbits: {{person.miscellaneous}}</p>
    </div>
    <a href="{{person._id}}/edit">edit this banch</a>
</div>